body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#cacaf7;
  
}

/* Global */
.container{
    margin-left: 90px;
 
}

ul{
    margin-top: -10px;
margin-right: 100px;
  
}

.button_1{
    height: 35px;
    width: 90px;
    background-color: #0b2f49;
    color: #ffffff;
 
}

.dark{
    margin-top:10px;
    margin-bottom:10px;
    background:#5a325a;
    color:#ffffff;
    padding: 10px;
  
}

/* Header **/
header{
    background:#0e86d1;
    color:#0e0101;
    padding-top:30px;
    min-height:70px;
    border-bottom:#26b43e 3px solid;
  
}

header a{
    color:rgb(149, 240, 14) ;
    text-decoration:inherit;
    text-transform:uppercase ;
    font-size:18px;
  
}

header li{
    float:left;
    display: inline-block;
    padding: 15px;
 
}

header #branding{
    float:left;
  
}

header #branding h1{
    margin: 5px;
    font-size: 35px
  
}

header nav{
    float:right;
    margin-top:18px;
  
}

header .highlight, header .current a{
    color:#f0d908;
    font-weight: 20px;
}

header a:hover{
    color:#e8491d;
    font-weight:bold;
}

/* Showcase */
#showcase{
    background: url("../img/showcase.jpg") no-repeat 0 -400px;
    color:#ffffff;
    padding-top:100px;
    min-height:300px;
    text-align: center;
}

#showcase h1{
    font-size: 40px;
    margin-bottom:15px;
    margin-top:100px;
}

#showcase p{
    text-align: center;
    font-size: x-large;
}

/* Newsletter */
#newsletter{
    padding-top: 50px;
    min-height: 40px;
    background-color: #083385;
}

#newsletter h1{
    margin-top: -20px;
    color: rgb(255, 255, 255);
    float:left;
}

#newsletter form {
    float: right;
        margin-top: -25px;
        margin-right: 90px;
}

#newsletter input[type="email"]{
    height: 30px;
    width: 250px;
}
#newsletter button{
    background-color:#28b82f ;
  }

/* Boxes */
#boxes{

    margin-top: 40px;
}

#boxes .box{
    display: inline-block;
    height: 100px;
    width: 400px;
    text-align: center;

}

#boxes .box img{
    width: 100px;
    text-align: center;
  
}

footer{
    background-color:#0e86d1;
    color:#89ff1a;
    text-align:center;
    padding:30px;
    margin-top:20px;
    font-weight: bold;
    border-top: #be1271 3px solid;
}
