body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: #ccffff;

}

/* Global */
.container{
  padding-left: 6px;
padding-right: 6px;
margin-left:100px;
margin-right: 100px;

}

ul{
  margin-left: 40px;
  margin-right: 40px;

}



/* Header **/
header{
  background: #d819a8;
color:#ffffff;
padding-top:30px;
min-height:70px;
border-bottom:rgb(53, 49, 53) 3px solid;

}

header a{
  color:white;
text-decoration: none;
text-transform:uppercase;
font-size:larger;

}

header li{
  float:left;
display:block;
padding: 20px;

}

header #branding{
  float: left;

}

header #branding h1{
  margin: 1px;

}

header nav{
  float: right;
margin-top:-21px;

}

header .highlight, header .current a{
  color:black;
  font-weight:700;

}

header a:hover{
  color: gray;
font-weight: 700;

}

/* Showcase */
#showcase{
background-image:url(/Ma\ nguon\ cac\ bai\ tap/EX06/img/showcase.jpg);
height: 50vb;
padding-top: 50px;

}

#showcase h1{
text-align: center;
color: white;
padding-top: 120px;
margin: -10px;
font-size: 50px;

}

#showcase p{
text-align: center;
color: white;
font-size: 22px;
}


footer{
  padding:20px;
  margin-top:30px;
  color:#ffffff;
  background-color:rgb(5, 238, 5);
  text-align: center;

}
