body{
    background-color: rgb(53, 138, 194);
    padding: 10%;
    font:200;
    margin: auto ;
  
  }
  
  
  /* Header **/
  header{
   background: rgb(245, 142, 8);
   color: rgb(13, 12, 17);
   padding-top:0%;
  min-height: auto;
  border-bottom: 0cap;
  }
  
  footer{
    padding: 0cap;
    margin-top: auto;
    color: rgb(244, 248, 248);
    background-color: rgb(255, 0, 64);
    text-align: center;
  }p
